// NGN chassis
// Detailer UI Pack

// :: Core Theme

// :: Global -------------------------------------------------------------------

$root-bg-color        : $white                       !default;
$text-color           : rgba(68,68,68,1)             !default;
$tile-gutter-color    : transparent                  !default;


// :: Typography ---------------------------------------------------------------

$font-family : 'Malva', Helvetica, Arial, sans-serif  !default;

$font-weight  : $regular                           !default;
$font-style   : normal                             !default;
$font-variant : normal                             !default;


// :: Links --------------------------------------------------------------------

$link-fonts               : $font-family             !default;
$link-color               : $blue                    !default;
$link-weight              : $regular                 !default;
$link-style               : normal                   !default;
$link-variant             : normal                   !default;
$link-transform           : none                     !default;
$link-decoration          : none                     !default;

$visited-link-color       : $link-color              !default;
$visited-link-weight      : $regular                 !default;
$visited-link-style       : normal                   !default;
$visited-link-variant     : normal                   !default;
$visited-link-transform   : none                     !default;
$visited-link-decoration  : none                     !default;

$hover-link-fonts         : $font-family             !default;
$hover-link-color         : darken($link-color, 2%)  !default;
$hover-link-weight        : $regular                 !default;
$hover-link-style         : normal                   !default;
$hover-link-variant       : normal                   !default;
$hover-link-transform     : none                     !default;
$hover-link-decoration    : underline                !default;

$active-link-fonts        : $font-family             !default;
$active-link-color        : lighten($link-color, 2%) !default;
$active-link-weight       : $regular                 !default;
$active-link-style        : normal                   !default;
$active-link-variant      : normal                   !default;
$active-link-transform    : none                     !default;
$active-link-decoration   : initial                  !default;

$disabled-link-color      : rgba(188,189,193,1)      !default;
$disabled-link-weight     : $regular                 !default;
$disabled-link-style      : normal                   !default;
$disabled-link-variant    : normal                   !default;
$disabled-link-transform  : none                     !default;
$disabled-link-decoration : initial                  !default;


// :: Headings -----------------------------------------------------------------

$h1-fonts         : $font-family      !default;
$h1-weight        : $bold             !default;
$h1-style         : normal            !default;
$h1-variant       : normal            !default;
$h1-transform     : none              !default;
$h1-decoration    : none              !default;

$h2-fonts         : $font-family      !default;
$h2-weight        : $bold             !default;
$h2-style         : normal            !default;
$h2-variant       : normal            !default;
$h2-transform     : none              !default;
$h2-decoration    : none              !default;

$h3-fonts         : $font-family      !default;
$h3-weight        : $bold             !default;
$h3-style         : normal            !default;
$h3-variant       : normal            !default;
$h3-transform     : none              !default;
$h3-decoration    : none              !default;

$h4-fonts         : $font-family      !default;
$h4-weight        : $semibold         !default;
$h4-style         : normal            !default;
$h4-variant       : normal            !default;
$h4-transform     : none              !default;
$h4-decoration    : none              !default;

$h5-fonts         : $font-family      !default;
$h5-weight        : $semibold         !default;
$h5-style         : normal            !default;
$h5-variant       : normal            !default;
$h5-transform     : none              !default;
$h5-decoration    : none              !default;

$h6-fonts         : $font-family      !default;
$h6-weight        : $semibold         !default;
$h6-style         : normal            !default;
$h6-variant       : normal            !default;
$h6-transform     : none              !default;
$h6-decoration    : none              !default;


// :: Buttons ------------------------------------------------------------------
$default-button-fonts                    : $font-family                !default;
$default-button-text-color               : rgb(255,255,255)            !default;
$default-button-font-weight              : $regular                    !default;
$default-button-font-style               : normal                      !default;
$default-button-font-variant             : normal                      !default;
$default-button-text-decoration          : none                        !default;
$default-button-text-transform           : none                        !default;

$default-button-bg-color                 : $blue                       !default;

$default-button-has-border               : false                       !default;
$default-button-border-thickness         : 0px                         !default;
$default-button-border-color             : transparent                 !default;
$default-button-border-radius            : $default-border-radius      !default;

$default-button-box-shadow               : ()                          !default;
// Example:
// $default-button-box-shadow : (
// 	3px 3px 3px 3px black,
// 	-3px -3px 3px 3px red
// );

$visited-default-button-fonts            : $font-family                !default;
$visited-default-button-text-color       : $default-button-text-color  !default;
$visited-default-button-font-weight      : $regular                    !default;
$visited-default-button-font-style       : normal                      !default;
$visited-default-button-font-variant     : normal                      !default;
$visited-default-button-text-decoration  : none                        !default;
$visited-default-button-text-transform   : none                        !default;

$visited-default-button-bg-color         : $default-button-bg-color    !default;

$visited-default-button-has-border       : false                       !default;
$visited-default-button-border-thickness : 0px                         !default;
$visited-default-button-border-color     : transparent                 !default;

$visited-default-button-box-shadow       : ()                          !default;

$hover-default-button-fonts              : $font-family                !default;
$hover-default-button-text-color         : $default-button-text-color  !default;
$hover-default-button-font-weight        : $regular                    !default;
$hover-default-button-font-style         : normal                      !default;
$hover-default-button-font-variant       : normal                      !default;
$hover-default-button-text-decoration    : none                        !default;
$hover-default-button-text-transform     : none                        !default;

$hover-default-button-bg-color           : lighten($default-button-bg-color, 3%) !default;

$hover-default-button-has-border         : false                       !default;
$hover-default-button-border-thickness   : 0px                         !default;
$hover-default-button-border-color       : transparent                 !default;

$hover-default-button-box-shadow         : ()                          !default;

$active-default-button-fonts             : $font-family                !default;
$active-default-button-text-color        : $default-button-text-color  !default;
$active-default-button-font-weight       : $regular                    !default;
$active-default-button-font-style        : normal                      !default;
$active-default-button-font-variant      : normal                      !default;
$active-default-button-text-decoration   : none                        !default;
$active-default-button-text-transform    : none                        !default;

$active-default-button-bg-color          : darken($default-button-bg-color, 2%) !default;

$active-default-button-has-border        : false                       !default;
$active-default-button-border-thickness  : 0px                         !default;
$active-default-button-border-color      : transparent                 !default;

$active-default-button-box-shadow        : ()                          !default;

$disabled-default-button-opacity         : .382                        !default;


// :: Icons --------------------------------------------------------------------
$icon-color           : $text-color       !default;
$icon-size-multiplier : $type-scale-ratio !default;


// :: Tags ---------------------------------------------------------------------
$default-tag-fonts                       : $font-family                !default;
$default-tag-text-color                  : rgb(255,255,255)            !default;
$default-tag-font-weight                 : $regular                    !default;
$default-tag-font-style                  : normal                      !default;
$default-tag-font-variant                : normal                      !default;
$default-tag-text-decoration             : none                        !default;
$default-tag-text-transform              : none                        !default;

$default-tag-bg-color                    : $grey-n05                   !default;

$default-tag-has-border                  : false                       !default;
$default-tag-border-thickness            : 0px                         !default;
$default-tag-border-color                : transparent                 !default;
$default-tag-border-radius               : $default-border-radius      !default;

$default-tag-box-shadow                  : ()                          !default;
// Example:
// $default-tag-box-shadow : (
// 	3px 3px 3px 3px black,
// 	-3px -3px 3px 3px red
// );


// :: Overlay ------------------------------------------------------------------

$overlay-bg-color                     : $black !default;
$overlay-bg-opacity                   : .8     !default;
$overlay-bg-image                     : none   !default;
$overlay-bg-blend-mode                : normal !default;

$overlay-content-vertical-alignment   : center !default;
$overlay-content-horizontal-alignment : center !default;


// :: Modal --------------------------------------------------------------------

$modal-bg-color                       : $white !default;
$modal-vertical-alignment             : center !default;


// :: Forms --------------------------------------------------------------------

$form-mobile-layout-breakpoint    : small !default;

$form-fields-border-radius        : $default-border-radius !default;

$form-legend-fonts                : $font-family     !default;
$form-legend-font-weight          : $bold            !default;
$form-legend-font-style           : normal           !default;
$form-legend-font-variant         : normal           !default;
$form-legend-text-decoration      : none             !default;
$form-legend-text-transform       : none             !default;

$form-fields-fonts                : $font-family     !default;
$form-fields-font-weight          : $regular         !default;
$form-fields-font-style           : normal           !default;
$form-fields-font-variant         : normal           !default;
$form-fields-text-color           : $text-color      !default;
$form-fields-text-decoration      : none             !default;
$form-fields-text-transform       : none             !default;

$form-fields-bg-color             : $white           !default;
$form-fields-border-color         : rgb(188,189,193) !default;
$form-fields-focus-ring-color     : $blue            !default;

$browser-field-button-bg-color    : $grey-n02        !default;
$browser-field-button-text-color  : $text-color      !default;

$form-fields-box-shadow   : (
	inset .0236em .0618em .382em .0382em rgba($black, .118),
	inset 0 0 0 1px $form-fields-border-color
) !default;

$form-fields-focus-box-shadow : (
	inset 0 0 0 1px $form-fields-focus-ring-color
) !default;

$visited-browser-field-button-bg-color : $browser-field-button-bg-color !default;
$hover-browser-field-button-bg-color   : lighten($browser-field-button-bg-color, 3%) !default;
$active-browser-field-button-bg-color  : darken($browser-field-button-bg-color, 2%) !default;

$textarea-resize : none !default;


// :: Table --------------------------------------------------------------------
$use-default-table-styles : true !default;

$default-table-border-color : $grey-n02 !default;
$default-table-border-style : solid;

$default-table-header-border-thickness : 3px !default;
$default-table-footer-border-thickness : 3px !default;
$default-table-cell-border-thickness : 1px !default;
