// Use to import all Detailer components at once

@import 'detailer/ui-components/buttons';
@import 'detailer/ui-components/button-bars';
@import 'detailer/ui-components/forms';
@import 'detailer/ui-components/modal';
@import 'detailer/ui-components/overlay';
@import 'detailer/ui-components/tags';
@import 'detailer/ui-components/tiles';
