// // NGN Chassis
// // UI Components
//
// // :: Button Bars
//
// // TODO: Refactor and add theming support
//
// .button-bar {
//   display: flex;
//
//   .button {
//     flex: 0 0 auto;
//
//     margin: 0;
//
//     background: $white;
//     box-shadow:
//       inset -1px 0 0 0 $grey-n04,
//       inset 0 1px 0 0 $grey-n04,
//       inset 0 -1px 0 0 $grey-n04
//     ;
//
//     color: $grey-n07 !important;
//
//     &:first-child {
//       box-shadow:
//         inset 1px 0 0 0 $grey-n04,
//         inset -1px 0 0 0 $grey-n04,
//         inset 0 1px 0 0 $grey-n04,
//         inset 0 -1px 0 0 $grey-n04
//       ;
//       @if $default-button-has-border {
//         border-radius: $default-button-border-radius 0 0 $default-button-border-radius;
//       }
//     }
//
//     @if $default-button-has-border {
//       &:last-child {
//         border-radius: 0 $default-button-border-radius $default-button-border-radius 0;
//       }
//
//       &:not(:first-child):not(:last-child) {
//         border-radius: 0 0 0 0;
//       }
//     }
//
//     &:hover {
//       background: $grey-n00;
//     }
//
//     &:active {
//       background: $grey-n02;
//     }
//   }
// }
