// NGN Chassis
// UI Components

// :: Forms

@if variable-exists(CHASSIS_DETAILER_INCLUDED) and $CHASSIS_DETAILER_INCLUDED {

  .chassis {

    form {

      // :: Resets ---------------------------------------------------------------

      > *:last-child,
      fieldset > *:last-child {
        margin-bottom: 0;
      }

      legend {
        font: {
          weight: $form-legend-font-weight;
          style: $form-legend-font-style;
          variant: $form-legend-font-variant;
        }

        text: {
          decoration: $form-legend-text-decoration;
          transform: $form-legend-text-transform;
        }
      }

      // Container for all form elements
      .field {
        @include block-layout-rules($has-padding: false);

        .input {
          display: flex;

          input:not([type='checkbox']):not([type='radio']),
          textarea {
            @include inline-layout-rules;

            flex: 1 1 auto;
            width: 0;
            max-width: 100%;
            margin-bottom: 0;

            &:last-child {
              margin-right: 0;
            }
          }

          // IE11 overrides
          *::-ms-backdrop,
          input:not([type='checkbox']):not([type='radio']) {
            min-height: 2.61803em;
          }

          *::-ms-backdrop,
          textarea {
            min-height: 7.85409em;
          }

          .button {
            margin-bottom: 0;

            &:last-child {
              margin-right: 0;
            }
          }

          *:last-child {
            margin-right: 0;
          }

          .browser {
            @include inline-layout-rules($has-padding: false);

            // Overwrite box-model established in the mixin above
            display: flex;
            flex: 1 1 auto;
            margin-bottom: 0;

            &:last-child {
              margin-right: 0;
            }

            input:not([type="radio"]):not([type="checkbox"]) {
              flex: 1 1 auto;
              margin-right: 0;
              border-radius: 0;

              &:first-child {
                border-radius: $form-fields-border-radius 0 0 $form-fields-border-radius;
              }
            }

            .button {
              display: flex;
              align-items: center;
              justify-content: center;

              border-radius: 0 $form-fields-border-radius $form-fields-border-radius 0;
              background: $browser-field-button-bg-color;
              color: $browser-field-button-text-color;
              box-shadow:
                inset -1px 0 0 0 $form-fields-border-color,
                inset 0 1px 0 0 $form-fields-border-color,
                inset 0 -1px 0 0 $form-fields-border-color
              ;

              &:visited {
                background: $visited-browser-field-button-bg-color;
              }

              &:hover {
                background: $hover-browser-field-button-bg-color;
              }

              &:active {
                background: $active-browser-field-button-bg-color;
              }
            }
          }
        }
      }

      // Container for collections of checkboxes of radio buttons
      .group {
        @include block-layout-rules($has-padding: false);

        .field {
          margin-bottom: 0;
        }
      }

      // Container for multi-column form layouts
      .row {
        display: flex;
        flex-direction: column;

        @include block-layout-rules($has-padding: false);

        > *:last-child {
          margin-bottom: 0;
        }

        .group {
          @include block-layout-rules($has-padding: false);

          &:last-child {
            margin-bottom: 0;
          }

          .field {
            margin-bottom: 0;
          }
        }

        @if map-has-key($viewport-width-ranges, $form-mobile-layout-breakpoint) {
          @include above-viewport-width($form-mobile-layout-breakpoint) {
            flex-direction: row;

            .field,
            .group {
              flex: 1 1 50%;
              margin: 0 1em;

              &:first-child {
                margin-left: 0;
              }

              &:last-child {
                margin-right: 0;
              }
            }

            .group {
              @include block-layout-rules($has-margin: false);
              padding: 0;

              .field {
                margin: 0;
              }
            }
          }
        }

      }

    }

    // :: Form Elements --------------------------------------------------------
    // These rulesets are kept separate from the "form" context so
    // they can be used independently of <form> elements
    label {
      display: block;
      cursor: pointer;
      font-weight: $semibold;
    }

    input:not([type='checkbox']):not([type='radio']),
    textarea {
      font: {
        family: $form-fields-fonts;
        weight: $form-fields-font-weight;
      }

      color: $text-color;

      border: 0;
      outline: 0;

      background: $form-fields-bg-color;
      border-radius: $form-fields-border-radius;
      box-shadow: $form-fields-box-shadow;

      &:focus {
        outline: 0;
        box-shadow: $form-fields-focus-box-shadow;
      }
    }

    input:not([type='checkbox']):not([type='radio']) {
      @include inline-layout-rules;
    }

    textarea {
      @include inline-layout-rules($multi-line: true);

      // Turn off scroll bars in IE unless needed
    	overflow: auto;

      vertical-align: top;
      resize: $textarea-resize;
    }

    input[type="checkbox"],
    input[type="radio"] {
      + label {
        display: inline-block;
      }
    }

    button {
    	@extend %chassis-button;

      font: {
        family: $form-fields-fonts;
        weight: $form-fields-font-weight;
      }
    }

    @if map-has-key($viewport-width-ranges, tiny) {
      @include max-viewport-width(tiny) {
        button {
          display: block;
          width: 100%;
        }
      }
    }

    // This ruleset must be independent of other selectors
    ::-webkit-file-upload-button {
    	padding: 0;
    	border: 0;
    	background: none;
    }

    // :: Select Menus ---------------------------------------------------------

    select {
      &[multiple] {
        // If paired with an inline label, ensure that it displays next to the
        // top quadrant of the select menu
      	vertical-align: top;
      }
    }

  }

}
