// NGN Chassis Detailer
// UI Component: Icons ---------------------------------------------------------

.icon {

  &svg {
    width: $icon-size-multiplier * 1em;
    height: auto;
    vertical-align: middle;

    fill: $icon-color;
  	@extend %disable-pointer-events;
  }
}
