// NGN Chassis
// UI Components

// :: Modal Windows

$default-modal-defs : ();

@if variable-exists(CHASSIS_DETAILER_INCLUDED) and $CHASSIS_DETAILER_INCLUDED {

  $default-modal-defs : (
    bg-color: $modal-bg-color,
    vertical-alignment: $modal-vertical-alignment
  );

  .chassis .modal {
    @extend %modal;
  }

}

@mixin chassis-modal($settings) {
  @if variable-exists(CHASSIS_DETAILER_INCLUDED) and $CHASSIS_DETAILER_INCLUDED {
    align-self: map-get($settings, vertical-alignment);
    
    width: 61.8vw;
    min-width: $ui-min-width;
    max-width: calc(#{$ui-max-width} - #{$ui-gutter * 2});

    max-height: 100vh;

    overflow: auto;
    z-index: map-get($CHASSIS_Z-INDEX_DEFAULTS, max) - index($z-index-order, modal);

    background: map-get($settings, bg-color);
  }
}

%modal {
  @include chassis-modal($default-modal-defs);
}
