// NGN Chassis
// UI Components

// :: Screen Overlay

$default-overlay-defs : ();

@if variable-exists(CHASSIS_DETAILER_INCLUDED) and $CHASSIS_DETAILER_INCLUDED {

  $default-overlay-defs : (
    bg-color: $overlay-bg-color,
    bg-opacity: $overlay-bg-opacity,
    bg-image: $overlay-bg-image,
    bg-blend-mode: $overlay-bg-blend-mode,
    content-vertical-alignment: $overlay-content-vertical-alignment,
    content-horizontal-alignment: $overlay-content-horizontal-alignment
  );

  .chassis chassis-overlay {
    @extend %overlay;
  }

}

@mixin overlay-styles($settings) {
  @if variable-exists(CHASSIS_DETAILER_INCLUDED) and $CHASSIS_DETAILER_INCLUDED {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: map-get($settings, content-horizontal-alignment);
    align-items: map-get($settings, content-vertical-alignment);

    height: 100vh;
    width: 100vw;
    
    min-width: 100vw;
    max-width: 100vw;
    
    min-height: 100vh;
    max-height: 100vh;

    background-color: rgba(map-get($settings, bg-color), map-get($settings, bg-opacity));
    background-image: map-get($settings, bg-image);
    background-blend-mode: map-get($settings, bg-blend-mode);

    z-index: map-get($CHASSIS_Z-INDEX_DEFAULTS, max) - index($z-index-order, overlay);
  }
}

%overlay {
  @include overlay-styles($default-overlay-defs);
}
