// NGN Chassis Detailer
// UI Component: Table ---------------------------------------------------------

// @mixin stack-below
// Cause table to stack below a certain viewport-width
@mixin stack-below($vp) {
  @include below-viewport-width($vp) {
    display: flex;
    flex-direction: column;

    thead,
    tbody,
    tfoot,
    tr,
    td,
    th {
      display: block;
    }

    caption {
      order: -1;
    }

    thead {
      position: static;
    }

    tfoot {
      order: 99;
    }

    @if $use-default-table-styles {
      tbody tr:last-child td:not(:last-child) {
        border-bottom: $default-table-cell-border-thickness $default-table-border-style $default-table-border-color;
      }
    }
  }
}

@if variable-exists(CHASSIS_DETAILER_INCLUDED) and $CHASSIS_DETAILER_INCLUDED {

  .chassis table {
    table-layout: fixed;

    @include block-layout-rules($has-padding: false);
    width: 100%;

    border: 0;
    border-collapse: collapse;
    border-spacing: 0;

    th,
    td {
      @include inline-layout-rules($has-margin: false, $multi-line: true);
      overflow: hidden;
      vertical-align: top;

      text: {
        align: left;
        overflow: ellipsis;
      }
    }

    caption {
      font-weight: $table-caption-font-weight;
      text-align: left;
    }

    @if $use-default-table-styles {
      background-color: $default-table-bg-color;

      thead {
        position: sticky;
        top: 0;

        background-color: $default-table-bg-color;

        border-bottom: $default-table-header-border-thickness $default-table-border-style $default-table-border-color;
        box-shadow: 0 $default-table-header-border-thickness 0 0 $default-table-border-color;
      }

      tfoot {
        border-top: $default-table-footer-border-thickness $default-table-border-style $default-table-border-color;
      }

      tbody tr {
        td {
          border-bottom: $default-table-cell-border-thickness $default-table-border-style $default-table-border-color;
        }

        &:last-child td {
          border-bottom: 0;
        }
      }
    }
  }

}
