// NGN chassis
// Detailer UI Pack

// :: Tags

$default-tag-defs : ();

@if variable-exists(CHASSIS_DETAILER_INCLUDED) and $CHASSIS_DETAILER_INCLUDED {
	
	$default-tag-defs : (
		default: ( //@required
			bg-color: $default-tag-bg-color,
			text-color: $default-tag-text-color,
			border-radius: $default-tag-border-radius,
			has-border: $default-tag-has-border,
			border-color: $default-tag-border-color,
			border-thickness: $default-tag-border-thickness,
			box-shadow: $default-tag-box-shadow,
			font-family: $default-tag-fonts,
			font-weight: $default-tag-font-weight,
			font-style: $default-tag-font-style,
			font-variant: $default-tag-font-variant,
			text-decoration: $default-tag-text-decoration,
			text-transform: $default-tag-text-transform
		)
	);
	
	.chassis .tag {
    @extend %chassis-tag;
  }
	
}

/**
 * @mixin chassis-tag
 * @param {map} $settings
 * $settings MUST contain a "default" map
 */
@mixin chassis-tag($settings) {
	@if variable-exists(CHASSIS_DETAILER_INCLUDED) and $CHASSIS_DETAILER_INCLUDED {
		$default: ();
    @if map-has-key($settings, default) {
      $default: map-get($settings, default);
    }
		
		display: inline-block;
		
		// Setup default padding, margin and line-height rules
		@include inline-layout-rules(root);
		margin-bottom: 0;
		
		@include font-size(small);
		
		@include chassis-default-rule(background, $default, bg-color, $default-tag-bg-color);
    @include chassis-default-rule(border-radius, $default, border-radius, $default-tag-border-radius);

    border: none;
    outline: none;

    @include chassis-generate-box-shadow($default, $default-tag-border-thickness, $default-tag-border-color, $default-tag-box-shadow);

    vertical-align: middle;
		
		font: {
      @if map-get($default, font-family) != $font-family {
        @include chassis-default-rule(family, $default, font-family, $default-tag-fonts);
      }
      @if map-get($default, font-weight) != $font-weight {
        @include chassis-default-rule(weight, $default, font-weight, $default-tag-font-weight);
      }
      @if map-get($default, font-style) != $font-style {
        @include chassis-default-rule(style, $default, font-style, $default-tag-font-style);
      }
      @if map-get($default, font-variant) != $font-variant {
        @include chassis-default-rule(variant, $default, font-variant, $default-tag-font-variant);
      }
    }
		
		text: {
      align: center;
      @include chassis-default-rule(decoration, $default, text-decoration, $default-tag-text-decoration);
      @include chassis-default-rule(transform, $default, text-transform, $default-tag-text-transform);
    }

    @include chassis-default-rule(color, $default, text-color, $default-tag-text-color);
	}
}

%chassis-tag {
  @include chassis-tag($default-tag-defs);
}
