// NGN Chassis Detailer
// UI Component: Toolbars ------------------------------------------------------

@if variable-exists(CHASSIS_DETAILER_INCLUDED) and $CHASSIS_DETAILER_INCLUDED {
  .chassis .toolbar {
    flex: 1 0 auto;
    display: flex;
    align-self: baseline;

    background: $toolbar-bg-color;

    .dropdown-menu {
      display: block;
      flex: 0 1 auto;

      header {
        background: $toolbar-dropdown-header-bg-color;
        @include inline-layout-rules($has-margin: false);
      }

      nav,
      menu,
      .menu {
        background: $toolbar-dropdown-menu-bg-color;
        @include block-layout-rules($has-margin: false);
      }

      &:hover {
        header {
          background: $toolbar-dropdown-header-hover-bg-color;
        }
      }
    }
  }

}
